{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column mt-6">
        <br>
        <h1 style="color:#00d1b2" class="title is-2 is-spaced">Got something on your mind? </h2>
        <br>
        <h2 class="subtitle is-4 mt-6">To-Do makes it easy to plan your day and manage your life.</h2>
    </div>
    <div class="column mt-4">
        <div class=""><img src="../static/logo.jpg" alt="" width="1200"></div>
    </div>
</div>
<footer>
    <div>
        <h3 class="mt-6 is-unselectable" style="color:#00d1b2">Author: Roberto Cortez &nbsp
            <span class="icon is-small has-text-primary">
                <i class="fas fa-hat-cowboy"></i>
            </span>
        </h3>
    </div>
</footer>
{% endblock %}